body,
html {
  margin: 0;
	padding: 0;
	overflow: hidden;
}
.container {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
}
header {
  order: 1;
  flex: 0 1 100%;
  height: 5%;
  display: flex;
  background-color: #4238c5;
  color: white;
  align-items: center;
  justify-content: center;
}
nav {
  order: 2;
  flex: 0 1 15%;
  height: 90%;
  background-color: whitesmoke;
}
.settings {
  border-width: 3px;
  background-color: rgb(165, 221, 238);
  padding: 3%;
  border-style: outset;
  margin: 1%;
  flex-wrap: wrap;
}
.settings p {
	font-weight: bold;
}
#boardsettings {
  height: 25%;
}
#boardfilling {
  height: 33%;
}
#speedcontrol {
  height: 30%;
}
#board {
  display: flex;
  flex-wrap: wrap;
	border-top: 1px solid;
	border-left: 1px solid;
}
#board div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  border-right: 1px solid;
}
.black {
  background-color: green;
}
main {
  order: 3;
  flex: 1;
  height: 88%;
	background-color: whitesmoke;
	margin: 5px;
}
footer {
  order: 4;
  flex: 0 1 100%;
  height: 5%;
  background-color: #4238c5;
  color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
}