header {
    display: flex;
}

#board {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid;
    border-left: 1px solid;
}

#board div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid ;
    border-right: 1px solid ;
}

.black {
    background-color: green;
}
